@import "tailwindcss";

@font-face {
  font-family: 'Bit9x9';
  src: url('/fonts/bit9x9.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000000;
  color: #ffffff;
  font-family: 'Bit9x9', 'Courier New', 'Monaco', 'Menlo', 'monospace';
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

button {
    cursor: pointer;
}

.custom-dashed-border {
  border-right: none;
  background-image: repeating-linear-gradient(
    to bottom,
    transparent,
    transparent 4px,
    white 4px,
    white 16px,
    transparent 16px,
    transparent 24px
  );
  background-size: 3px 100%;
  background-repeat: no-repeat;
  background-position: right center;
}
